---
layout: layout.njk
pagination:
  data: orcwgImport.list
  size: 1
  alias: list
  addAllPagesToCollections: true
permalink: "{{ list.url }}"
eleventyComputed:
  title: "{{ list.title }}"
---

<div class="curated-list-description">
  <p>{{ list.description }}</p>
</div>

<div class="faq-index">
  {% set componentData = {
    title: list.title,
    faqs: list.faqs,
    mode: "accordion",
    showAdminIndicators: false
  } %}
  {% include "components/faq-list.njk" %}
</div>

