---
layout: layout.njk
pagination:
  data: orcwgImport.list
  size: 1
  alias: listData
  addAllPagesToCollections: true
permalink: "{{ listData.url }}"
eleventyComputed:
  title: "{{ listData.title }}"
---

<div class="curated-list-description">
  <p>{{ listData.description }}</p>
</div>

<div class="faq-index">
  <section class="category-section">
    <h2 class="category-title">{{ listData.title }}</h2>
    <ul class="question-list">
      {% for faqKey in listData.faqs %}
        {% set item = orcwgImport.faq[faqKey] %}
        <li class="question-item">
          <a href="{{ item.url }}" class="question-link">
            <span class="question-text">
              {{ item.question | markdown | safe }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>

