---
layout: layout.njk
title: CRA FAQ Index
---

<h1>{{ title }}</h1>

<ul>
  {% for category, questions in faq %}
    <li>
      <strong>{{ category }}</strong>
      <ul>
        {% for question in questions %}
          <li>
            <a href="/faq/{{ category }}/{{ question.filename | replace('.md', '') }}/">
              {{ question.question | markdown | safe }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>       